@import "../../sass/helper";

.profectsSection {
	margin-bottom: 50px;
}

.slide {
	cursor: grab;
	position: relative;
}

.slideImg {
	display: inline-block;
	width: 100%;
	height: auto;
}

.slideText {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 20px;
	font-weight: 600;

	@include mobile {
		white-space: nowrap;
		font-size: 30px;
	}
}
