@import "../../sass/helper";

.servicesSection {
	margin-bottom: 50px;
}

.servicesNavigation {
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
	gap: 30px;
	justify-content: space-between;
	width: 100%;
	background-color: $secondary-color;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	padding: 25px 30px;
}

.serviceTitle {
	flex-basis: calc(100% / 5 - 10px);
}

.serviceButton,
.serviceButtonActive {
	border: 1px solid $main-color;
	border-radius: 38px;
	font-size: 13px;
	font-weight: 500;
	padding: 8px 28px;
	transition: all 300ms ease;
	width: 100%;
	white-space: nowrap;

	&:hover {
		background-color: $main-color;
		color: $secondary-color;
	}

	@include tablet {
		font-size: 16px;
	}
}

.serviceButton {
	color: $main-color;
	background-color: $secondary-color;
}

.serviceButtonActive {
	color: $secondary-color;
	background-color: $main-color;
}

.descriptionWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid #dfdbdb;
	min-height: 800px;
	overflow: hidden;
	background-color: $secondary-color;
	color: $main-color;
	padding: 40px;

	@include tablet {
		padding-left: 30px;
	}
}

.descriptionBox {
	& > img {
		display: inline-block;
		width: 100%;
		height: auto;
	}
}

.descriptionTitle,
.descriptionText {
	font-size: 20px;

	@include mobile {
		font-size: 25px;
	}
}

.descriptionBox {
	&:first-child {
		display: flex;
		flex-direction: column;
		gap: 25px;
		text-align: center;

		@include tablet {
			text-align: left;
		}
	}
}

.descriptionBox {
	@include tablet {
		flex-basis: 50%;
	}
}

.descriptionBenefitTitle {
	font-size: 18px;
}

.descriptionBenefits {
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	text-align: left;

	@include tablet {
		margin: 0;
	}
}

.descriptionBenefit {
	display: flex;
	align-items: center;
	gap: 20px;
}
