@import "../../sass/helper";

.parallaxBG {
	background-image: url("../../assets/why-us/why-us-bg.jpg");
	position: absolute;
	left: 0;
	top: 0;
	width: 130%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.sliderBody {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.wrapperTitle {
	max-width: 700px;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	gap: 50px;
	align-items: center;
}

.title {
	font-size: 20px;
	font-weight: 600;
	max-width: 700px;
	text-align: justify;

	@include tablet {
		font-size: 30px;
	}
}
