@import "../../../../sass/helper";

.backdrop,
.backdropActive {
	height: 100vh;
	width: 100vw;
	position: absolute;
	background-color: $secondary-color;
	transition: all 700ms ease;
	z-index: 90;
}

.backdrop {
	top: -100%;
}

.backdropActive {
	top: 0;
}

.navigation {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigationList {
	color: $main-color;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.link {
	font-size: 30px;
	text-transform: capitalize;
}
