@import "./sass/helper";

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	color: $secondary-color;
	background-color: $main-color;
	position: relative;
	overflow-x: hidden;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.no-scroll {
		overflow: hidden;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
	margin: 0;
	padding: 0;
	border: 0;
}

ul,
li {
	list-style-type: none;
}

a,
button {
	color: inherit;
}

a {
	text-decoration: none;
}

button {
	background-color: transparent;
	cursor: pointer;
}

.services__box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 70px;

	@include tablet {
		flex-direction: row;
	}
}

.slick-track {
	display: flex !important;
	gap: 20px !important;
}
